body {
    background-color: #5771e4;
    margin: 0px;
  }
  
  #invader {
    background-color: #5771e4;
    width: 100%;
    min-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .configuration {
    background-color: #3c40c6;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .configuration input {
    padding: 1em;
    width: 10em;
    border: none;
    font-size: 1.2em;
    margin-right: 2px;
    border-radius: 5px 0px 0px 5px;
  }
  
  .configuration button {
    padding: 1em;
    border: none;
    font-size: 1.2em;
    background-color: #8b57e4;
    border-radius: 0px 5px 5px 0px;
    color: white;
    cursor: pointer;
  }
  
  .palette {
    position: fixed;
    bottom: 0;
    right: 0;
  }
  
  .palette-color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0.8em;
    cursor: pointer;
  }
  
  .palette--empty {
    background-color: white;
  }
  .palette--plain {
    background-color: black;
  }
  .palette--light {
    background-color: rgb(22, 132, 16);
  }
  .palette--highlight {
    background-color: rgb(216, 31, 207);
  }
  
  .row {
    display: flex;
  }
  
  .pixel {
    /* width: 20px;
    height: 20px; */
    background-color: white;
    border: 2px solid grey;
  }
  
  .pixel--empty {
    background-color: white;
  }
  .pixel--plain {
    background-color: black;
  }
  .pixel--light {
    background-color: rgb(22, 132, 16);
  }
  .pixel--highlight {
    background-color: rgb(216, 31, 207);
  }
  